# Ignore sensitive files
secrets.yaml
home-assistant_v2.db
*.log
*.log*
*.db-wal
*.db-shm
*.pid
.idea*

# Ignore backups and cache
.backups/
__pycache__/
deps/

# HACS and custom components
custom_components/
.custom_components/
www/community/

# Temporary files
*.tmp
*.swp

.HA_VERSION
.cloud*
.storage*

overview.yml