# Ignore sensitive files
secrets.yaml
home-assistant_v2.db
*.log
*.db-wal
*.db-shm
*.pid

# Ignore backups and cache
.backups/
__pycache__/
deps/

# HACS and custom components
.custom_components/
www/community/

# Temporary files
*.tmp
*.swp